@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}
.container {
  width: 100%;
  min-height: 100dvh;
  background-color: lavender;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.quote_box {
  width: 550px;
  min-height: 350px;
  background-color: #fffff0;
  border-radius: 8px;
  box-shadow: 2px 2px 2px 0cap lightgray;
  margin-bottom: 8px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px 46px;
}

.quote_box h3 {
  padding-bottom: 30px;
  font-size: 22px;
  position: relative;
}
h3::before {
  content: '';
  width: 80px;
  height: 2px;
  background-image: radial-gradient(#0f969c, #6da5c0);
  position: absolute;
  top: 24px;
  transform: translate(50%);
}

#quote-holder {
  letter-spacing: 1.1px;
}

.quote-holder i {
  font-size: 22px;
  color: #562549;
}

.buttons button {
  padding: 6px 12px;
  border-radius: 3px;
  border: none;
  outline: none;
  background-color: #562549;
  color: #fffff0;
  margin-top: 30px;
  cursor: pointer;
}

.buttons button:hover {
  background-image: linear-gradient(to right top, #451952, #f39f5a);
  transform: scale(1.05);
  transition: all 1s ease-in-out;
}
.author_name {
  padding-top: 16px;
  align-self: flex-end;
  font-style: italic;
}
